<%- @title = 'メモ 編集' %>

<form action=<%= "/memos/#{@memo.id}" %> method="post" class="px-4 pt-6 pb-8 mb-4 border border-solid border-gray-300">
  <input type="hidden" name="_method" value="patch">
  <div class="mb-6">
    <label for="title" class="block mb-2 text-gray-700 text-sm font-bold">タイトル</label>
    <input type="text" name="title" id="title" class="border border-solid border-gray-300" value=<%= "#{@memo.title}" %>>
  </div>
  <div class="mb-6">
    <label for="content" class="block mb-2 text-gray-700 text-sm font-bold">内容</label>
    <textarea name="content" id="content" rows="3" class="border border-solid border-gray-300"><%= @memo.content %></textarea>
  </div>
  <div>
    <input type="submit" value="更新する" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
  </div>
</form>
<a href="/memos" class="text-blue-500">戻る</a>
