<! DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>メモ 新規作成</title>
</head>
<body>
<div>
  <h1>メモ 新規作成</h1>
  <form action="/memos" method="post">
    <div>
      <label for="title">タイトル</label>
      <input type="text" name="title" id="title">
    </div>
    <div>
      <label for="content">内容</label>
      <input type="text" name="content" id="content">
    </div>
    <div>
      <input type="submit" value="作成する">
    </div>
  </form>
</div>
</body>
</html>
