<%- @title = 'メモ 新規作成' %>

<form action="/memos" method="post" class="px-4 pt-6 pb-8 mb-4 border border-solid border-gray-300">
  <div class="mb-6">
    <label for="title" class="block mb-2 text-gray-700 text-sm font-bold">タイトル</label>
    <input type="text" name="title" id="title" class="border border-solid border-gray-300">
  </div>
  <div class="mb-6">
    <label for="content" class="block mb-2 text-gray-700 text-sm font-bold">内容</label>
    <textarea name="content" id="content" rows="3" class="border border-solid border-gray-300"></textarea>
  </div>
  <div>
    <input type="submit" value="作成する" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
  </div>
</form>
<a href="/memos" class="text-blue-500">戻る</a>
