<! DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>メモ 詳細</title>
</head>
<body>
<div>
  <h1>メモ 詳細</h1>
  <table>
    <tr>
      <td>ID</td>
      <td><%= @memo.id %></td>
    </tr>
    <tr>
      <td>タイトル</td>
      <td><%= @memo.title %></td>
    </tr>
    <tr>
      <td>内容</td>
      <td><%= @memo.content %></td>
    </tr>
  </table>
  <div>
    <a href=<%= "/memos/#{@memo.id}/edit" %>>編集</a>
  </div>
</div>
</body>
</html>
