<%- @title = 'メモ 詳細' %>

<table class="table-auto mb-6">
  <tr>
    <td class="pr-4 py-2 font-medium">ID</td>
    <td class="pr-4 py-2"><%= @memo.id %></td>
  </tr>
  <tr class="border-t border-solid border-gray-300">
    <td class="pr-4 py-2 font-medium">タイトル</td>
    <td class="pr-4 py-2"><%= @memo.title %></td>
  </tr>
  <tr class="border-t border-solid border-gray-300">
    <td class="pr-4 py-2 font-medium">内容</td>
    <td class="pr-4 py-2"><%= @memo.content.gsub(/\r\n|\r|\n/, "<br />") %></td>
  </tr>
</table>
<div class="pt-2 border-t border-gray-200">
  <a href=<%= "/memos/#{@memo.id}/edit" %> class="text-blue-500">編集</a>
  <a href="/memos" class="text-blue-500 ml-2">戻る</a>
</div>
